%hover {
  color: crimson;
}
%hover-time {
  transition: all 0.3s ease-in-out;
}
%flex-column {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: $darkBlue;
  height: 100%;
  &_container {
    text-align: center;
    &_content {
      padding: 1.5rem 0 0.1rem 0;
      &_inner {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 576px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
        &_list1,
        &_list2 {
          @extend %flex-column;
          text-align: left;
          line-height: 1.5;
          @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
            line-height: 2.3;
          }
          & a {
            color: white;
            @extend %hover-time;
          }
          & a:hover {
            @extend %hover;
          }
        }
      }
      &_social {
        display: inline-block;
        padding: 2rem 0;
        & a {
          padding: 0 0.8rem;
          color: white;
          @extend %hover-time;
          font-size: 1rem;
          &:hover {
            font-size: 1.2rem;
            @extend %hover;
          }
        }
      }
      &_copy {
        color: white;
        & a {
          color: white;
          @extend %hover-time;
          &:hover {
            @extend %hover;
          }
        }
      }
    }
  }
}
